@use "./variables" as *;

*{
    font-family:$font-family;
  //  background-color: $color-primary;
    padding:0;
    margin:0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    color: $text-color;
    transition: all .2s linear; 
 }
 *::selection{
    background: $yellow;
    color: $selection-color;
 }
html{
    font-size: 62.5%;
    overflow-x: hidden;
}
html::-webkit-scrollbar{
    width:1.4rem;
}
html::-webkit-scrollbar-track{
    background: $dark;
}
html::-webkit-scrollbar-thumb{
    background: $yellow
}
