@use "./variables" as *;

body {
  background: $background;
  overflow-x: hidden;
  padding-left: 35rem;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  height: 100%;
  width: 35rem;
  background: $side-color;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  text-align: center;
  .about {
    &__img {
      height: 22rem;
      width: 22rem;
      border-radius: 50%;
      object-fit: cover;
      margin-bottom: 1rem;
      border: 0.7rem solid $dark;
    }
    &__name {
      font-size: 3.5rem;
      color: $yellow;
    }
    &__post {
      font-size: 2rem;
      color: $text-color;
    }
  }
  .navbar {
    width: 100%;
    ul {
      list-style: none;
      padding: 1rem 3rem;
      li {
        a {
          display: block;
          padding: 1rem;
          margin: 1.5rem 0;
          background: $purple;
          color: $dark;
          font-size: 2rem;
          border-radius: 5rem;
        }
        a:hover {
          background: $yellow;
        }
      }
    }
  }
}
section {
  min-height: 100vh;
  padding: 1rem;
}

.home {
  display: flex;
  justify-content: center;
  flex-flow: column;
  padding: 0 15rem;

  &__hi {
    font-size: 2.5rem;
    color: $yellow;
  }
  &__name {
    font-size: 5rem;
    color: $yellow;
  }
  &__para {
    font-size: 2rem;
    color: $purple;
    padding: 1rem 0;
  }
  &__btn {
    padding: 8px 15px;
    background-color: $purple;
    color: $dark;
    cursor: pointer;
    margin-top: 1rem;
    font-size: 2rem;
    border-radius: 5rem;
    i {
      padding: 0 0.5rem;
      font-size: 1.8rem;
      color: $background;
    }
  }
  &__btn:hover {
    background-color: $yellow;
  }
}

.aboutme {
  display: flex;
  justify-content: center;
  flex-flow: column;
  padding: 0 10rem;
  &__heading {
    font-size: 5rem;
    color: $yellow;
  }
  &__para {
    font-size: 2rem;
    color: $purple;
    padding: 1rem 0;
  }
}

.skillz {
  display: flex;
  justify-content: center;
  flex-flow: column;
  padding: 10rem 5rem;
  margin: 10rem 5rem;
  border: 5px solid $purple;
  border-radius: 0.5rem;
}
.skills {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 2rem;

  &__header {
    color: $yellow;
    margin-bottom: 5rem;
    font-size: 5rem;
  }
  &__display {
    padding: 25px;
    border-left: 4px solid $dark;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    width: 100%;
    margin-left: auto;
    margin-right: auto;

    &-item {
      height: 90px;
      width: 90px;
      background-color: $selection-color;
      display: flex;
      border-radius: 15px;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .fab,
      .fa-solid,
      .fa-brands,
      .fas,
      .skills__display-header {
        color: $yellow;
      }

      .skills__display-header {
        margin-top: 5px;
        font-size: 15px;
      }
    }
    &-item:hover {
      background-color: $dark;
      // cursor: pointer;
    }
  }
}

.projects {
  display: flex;
  justify-content: center;
  flex-flow: column;
  padding: 25rem 5rem;
  &__heading {
    font-size: 5rem;
    color: $yellow;
    margin-bottom: 5rem;
  }
  &__container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    &-box {
      height: 25rem;
      width: 40rem;
      border-radius: 2rem;
      margin: 1rem;
      border: 0.5rem solid $purple;
      position: relative;
      overflow: hidden;
      img {
        height: 80%;
        width: 100%;
        object-fit: cover;
        border-radius: 0.5rem;
      }
      img:hover {
        transform: scale(0.9);
      }
      h3 {
        position: absolute;
        bottom: 0.5rem;
        left: 1rem;
        font-size: 2.2rem;
        color: $text-color;
        text-transform: uppercase;
      }
    }
    &-link {
      position: absolute;
      bottom: 0.5rem;
      right: 2rem;
      a {
        display: inline-block;
        height: 4rem;
        width: 4rem;
        border-radius: 0.5rem;
        background: $yellow;
        color: $side-color;
        font-size: 2.2rem;
        line-height: 4rem;
        text-align: center;
      }
      a:hover {
        background: $text-color;
      }
    }
  }
}
.contact {
  text-align: center;
  padding: 2rem;
  min-height: 50vh;
  h1 {
    color: $yellow;
    margin-bottom: 5rem;
    font-size: 5rem;
  }
  &__div {
    display: inline-block;
    background-color: $selection-color;
    height: 90px;
    width: 90px;
    font-size: 5rem;
    text-align: center;
    line-height: 90px;
    margin: 2rem;
    border-radius: 40%;
    a {
      color: $yellow;
    }
  }
  .contact__div:hover {
    background-color: $dark;
  }
  p {
    text-transform: lowercase;
    font-size: 2rem;
    color: $purple;
  }
}

#menu {
  position: fixed;
  top: 2rem;
  right: 2rem;
  background: $yellow;
  color: $dark;
  cursor: pointer;
  font-size: 2.5rem;
  padding: 1rem 1.5rem;
  z-index: 1000;
  display: none;
}
.show-more {
  display: block;
  padding: 8px 15px;
  background-color: $purple;
  color: $dark;
  cursor: pointer;
  margin-top: 2rem;
  margin-left: 1.5rem;
  font-size: 2rem;
  border-radius: 5rem;
  i {
    padding: 0 0.5rem;
    font-size: 1.8rem;
    color: $background;
  }
  display: none;
}
.show-more:hover {
  background-color: $yellow;
}

@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }
  .home,
  .aboutme,
  .skillz {
    padding: 1rem 4rem;
  }
  .projects__container-box {
    h3 {
      font-size: 25px;
    }
  }
}

@media (max-width: 991px) {
  html {
    font-size: 50%;
  }
  header {
    left: -120%;
  }
  #menu {
    display: block;
  }
  header.active {
    left: 0%;
  }
  body {
    padding: 0;
  }

  .show-more {
    display: block;
  }
  .projects__container-box {
    display: none;
  }
  .projects__container-box:nth-child(1),
  .projects__container-box:nth-child(2),
  .projects__container-box:nth-child(3) {
    display: block;
  }
}
@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  header {
    width: 100%;
  }
  .projects__container-box {
    h3 {
      font-size: 1.35rem;
    }
  }
  .skillz {
    border: none;
  }
  .skills__display-item {
    height: 70px;
    width: 70px;
  }
  .skills__display-header {
    font-size: 2px;
  }
  .projects__container-box {
    width: 100%;
  }
  .projects__heading {
    font-size: 3rem;
  }
  .contact {
    &__div {
      height: 55px;
      width: 55px;
      font-size: 30px;
      line-height: 55px;
    }
    p {
      font-size: 20px;
    }
  }
}
