@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

$text-color:#9e35e0;
$dark:#450b70;
$font-family: 'Roboto Mono', monospace;
$background:#111;
$side-color:#1a1a1a;
$yellow: #cf95e5;
$selection-color: #333;
$purple:#a95aec;